* {
      margin: 0;
      padding: 0;
      color: white;
      font-size: 25px;
      box-sizing: border-box;
    }
    
    body {
      background-color: rgb(240, 240, 240);
    }

    .container {
      display: grid;
      padding: 0;
      margin: 0;
    }

    p ,span {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 655px;
      font-size: 16px;
      color: black;
      text-align: justify;
    }

    li.guide {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 590px;
      font-size: 16px;
      color: black;
      margin-bottom: 20px;
    }

    .img-footer {
      font-size: 14px;
      font-weight: bold; 
      color: rgba(0, 0, 0, 0.422);
      text-align: center;
    }

    div.header {
      max-width: 100%;
      height: 700px;
      background-color: rgba(0, 0, 0, 0.060);
      opacity: 100%;
    }
    
    .web-page {
      background-image: url(images/bg2.jpg);
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    nav {
      margin-top: 150px;
    }

    h1 {
      text-align: center;
      margin-top: 70px;
      font-family: fantasy;
      font-size: 110px;
    }

    h2 {
      text-align: center;
      font-family: fantasy;
      font-size: 60px;
    }

    .header1, .header2 {
      text-shadow: black 0px 0px 10px;
    }

    .offcanvas-body .nav-link{
      color: rgba(255, 255, 255, 0.667);
      transition: 0.15s;
      font-size: 15px;
      text-decoration: none;
    }

    [class*=nav-] {
      color: rgba(255, 255, 255, 0.667);
      transition: 0.15s;
      font-size: 15px;
      text-decoration: none;
    }

    [class*=nav-]:hover {
      color: white;
      text-decoration: underline;
    }

    .navbar, .navbar:hover {
      color: white;
      font-weight: bold;
      text-decoration: none;
      margin-right: 10px;
    }

    .container-fluid {
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.667);
    }

    .scroll-down {
      margin: 70px 280px 0px;
    }

    .image {
      width: 650px;
      height: 500px;
      margin-top: 0;
    }

    img {
      object-fit: cover;
      width: 650px;
      height: 500px;
    }

    .down-header {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 20px;
      font-weight: bold;
      color: black;
      text-align: left;
      margin-top: 100px;
    }

    .down-header2 {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: black;
      text-align: left;
      margin-top: 0;
    }

    .guide-header1 {
      width: 650px;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 25px;
      font-weight: bold;
      color: black;
      text-align: center;
      margin-top: 120px;
    }

    .guide-header2 {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 20px;
      font-weight: bold;
      color: black;
      text-align: left;
      margin-top: 130px;
      margin-top: 60px;
    }

    .content{
      padding: 0;
      width: 650px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .guide {
      line-height: 2;
    }

    .line {
      width: 650;
      margin: 50px 0px 50px;
      border-top: 1.5px solid rgba(0, 0, 0, 0.248);
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 650px;
      margin-bottom: 100px;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      color: black;
      font-size: 14px;
      text-align: center;
    }

    td {
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: rgba(195, 235, 250, 0.539);
    }

    a {
      font-size: 16px; 
      color: black; 
      text-decoration: 1px underline;
    }

    a:hover {
      color: rgb(117, 189, 189);
      transition: 0.15s;
    }

    div.web-page* {
      width: 100%;
    }

    .cbl-carousel {
      margin-bottom: 80px;
      width: 530px;
      height: 530px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    }

    #carouselExampleAutoplaying{
      background-color: rgb(128, 128, 128, 0.50);
    }

    .d-block {
      width: 530px;
      height: 400px;
      object-fit:scale-down;
    }

    .carousel-footer {
      color: rgb(117, 189, 189); 
      font-size: 12px; 
      font-weight: bold; 
      margin: 5px 20px 0px;
      text-decoration: none;
    }

    .carousel-footer:hover {
      text-decoration: underline;
    }

    .web-footer {
      margin-top: 80px;
      padding-top: 20px;
      height: 120px;
      background-color: rgb(12 17 21);
    }

    .footer > .footer-text {
      margin: 5px;
      width: auto;
      text-align: center;
      color: rgba(255, 255, 255, 0.381);
    }

  @media only screen and  (max-width: 1200px) {
    body {
      height: auto;
      background-color: rgb(240, 240, 240);
    }
    nav {
      margin-top: 130px;
    }

    div.header {
      width: 100%;
      height: 500px;
      background-color: rgba(0, 0, 0, 0.060);
      opacity: 100%;
    }
    .web-page {
      background-image: url(images/bg2.jpg);
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      }

    h1 {
      text-align: center;
      margin-top: 40px;
      font-family: fantasy;
      font-size: 50px;
    }

    h2 {
      text-align: center;
      font-family: fantasy;
      font-size: 30px;
    }

    .content{
      padding: 0;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .content p {
      width: auto;
    }

    .content .image {
      width: 100%;
    }

    .content .image img {
      width: 100%;
    }

    .scroll-down {
      margin: 50px 25% 0px;
    }

    p ,span {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 100%;
      font-size: 13px;
      color: black;
    }

    .down-header {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: black;
      text-align: left;
      margin-top: 25px;
    }

    .image {
      width: 100%;
      height: 250px;
      margin-top: 0;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
    }

    .img-footer {
      font-size: 11px;
      font-weight: bold; 
      color: rgba(0, 0, 0, 0.422);
      text-align: center;
    }

    iframe.map {
      width: 100%;
      height: 350px;
    }

    .map p {
      margin-top: 0;
    }

    .guide-header1 {
      width: 100%;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: black;
      text-align: center;
      margin-top: 120px;
    }

    .guide-header2 {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: black;
      text-align: left;
      margin-top: 130px;
      margin-top: 60px;
    }

    .down-header2 {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: black;
      text-align: left;
      margin-top: 0;
    }

    li.guide {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 100%;
      font-size: 14px;
      color: black;
      margin-bottom: 20px;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 100px;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      color: black;
      font-size: 12px;
      text-align: center;
    }

    a {
      font-size: 13px; 
      color: black; 
      text-decoration: 1px underline;
    }

    .nav-link{
      font-size: 13px; 
      color: white; 
      text-decoration: none;
      margin-left: 30px;
    }

    .cbl-carousel {
      margin-bottom: 80px;
      width: 100%;
      height: 370px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    }

    #carouselExampleControls{
      width: 100%;
      background-color: rgb(128, 128, 128, 0.50);
    }

    img.d-block{
        width: 100%;
        height: 250px;
        object-fit: scale-down;
    }

    .carousel-footer {
        color: rgb(117, 189, 189); 
        font-size: 12px; 
        font-weight: bold; 
        margin: 5px 20px 0px;
        text-decoration: none;
    }
    
    .carousel-footer:hover {
        text-decoration: underline;
      }

    .web-footer {
      margin-top: 80px;
      padding-top: 20px;
      height: 100px;
      background-color: rgb(12 17 21);
    }

    .footer > .footer-text {
      margin: 5px;
      width: auto;
      text-align: center;
      color: rgba(255, 255, 255, 0.381);
    }
  }

   @media only screen and  (max-width: 1200px) {
    body {
      height: auto;
      background-color: rgb(240, 240, 240);
    }
    nav {
      margin-top: 130px;
    }

    div.header {
      width: 100%;
      height: 500px;
      background-color: rgba(0, 0, 0, 0.060);
      opacity: 100%;
    }
    .web-page {
      background-image: url(images/bg2.jpg);
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      }

    h1 {
      text-align: center;
      margin-top: 40px;
      font-family: fantasy;
      font-size: 50px;
    }

    h2 {
      text-align: center;
      font-family: fantasy;
      font-size: 30px;
    }

    .content{
      padding: 0;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .content p {
      width: auto;
    }

    .content .image {
      width: 100%;
    }

    .content .image img {
      width: 100%;
    }

    .scroll-down {
      margin: 50px 25% 0px;
    }

    p ,span {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 100%;
      font-size: 13px;
      color: black;
    }

    .down-header {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: black;
      text-align: left;
      margin-top: 25px;
    }

    .image {
      width: 100%;
      height: 250px;
      margin-top: 0;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
    }

    .img-footer {
      font-size: 11px;
      font-weight: bold; 
      color: rgba(0, 0, 0, 0.422);
      text-align: center;
    }

    iframe.map {
      width: 100%;
      height: 350px;
    }

    .map p {
      margin-top: 0;
    }

    .guide-header1 {
      width: 100%;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: black;
      text-align: center;
      margin-top: 120px;
    }

    .guide-header2 {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: black;
      text-align: left;
      margin-top: 130px;
      margin-top: 60px;
    }

    .down-header2 {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: black;
      text-align: left;
      margin-top: 0;
    }

    li.guide {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 100%;
      font-size: 14px;
      color: black;
      margin-bottom: 20px;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 100px;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      color: black;
      font-size: 12px;
      text-align: center;
    }

    a {
      font-size: 13px; 
      color: black; 
      text-decoration: 1px underline;
    }

    .nav-link{
      font-size: 13px; 
      color: white; 
      text-decoration: none;
      margin-left: 30px;
    }

    .cbl-carousel {
      margin-bottom: 80px;
      width: 100%;
      height: 370px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    }

    #carouselExampleControls{
      width: 100%;
      background-color: rgb(128, 128, 128, 0.50);
    }

    img.d-block{
        width: 100%;
        height: 250px;
        object-fit: scale-down;
    }

    .carousel-footer {
        color: rgb(117, 189, 189); 
        font-size: 12px; 
        font-weight: bold; 
        margin: 5px 20px 0px;
        text-decoration: none;
    }
    
    .carousel-footer:hover {
        text-decoration: underline;
      }

    .web-footer {
      margin-top: 80px;
      padding-top: 20px;
      height: 100px;
      background-color: rgb(12 17 21);
    }

    .footer > .footer-text {
      margin: 5px;
      width: auto;
      text-align: center;
      color: rgba(255, 255, 255, 0.381);
    }
  }

  @media only screen and  (max-width: 600px) {
    body {
      height: auto;
      background-color: rgb(240, 240, 240);
    }
    nav {
      margin-top: 130px;
    }

    div.header {
      width: 100%;
      height: 500px;
      background-color: rgba(0, 0, 0, 0.060);
      opacity: 100%;
    }
    .web-page {
      background-image: url(images/bg2.jpg);
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      }

    h1 {
      text-align: center;
      margin-top: 40px;
      font-family: fantasy;
      font-size: 40px;
    }

    h2 {
      text-align: center;
      font-family: fantasy;
      font-size: 30px;
    }
    

    .content{
      padding: 0;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .content p {
      width: auto;
    }

    .content .image {
      width: 100%;
    }

    .content .image img {
      width: 100%;
    }

    .scroll-down {
      margin: 50px 15% 0px;
    }

    p ,span {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 100%;
      font-size: 13px;
      color: black;
    }

    .down-header {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: black;
      text-align: left;
      margin-top: 25px;
    }

    .image {
      width: 100%;
      height: 250px;
      margin-top: 0;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
    }

    .img-footer {
      font-size: 11px;
      font-weight: bold; 
      color: rgba(0, 0, 0, 0.422);
      text-align: center;
    }

    iframe.map {
      width: 100%;
      height: 350px;
    }

    .map p {
      margin-top: 0;
    }

    .guide-header1 {
      width: 100%;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: black;
      text-align: center;
      margin-top: 120px;
    }

    .guide-header2 {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: black;
      text-align: left;
      margin-top: 130px;
      margin-top: 60px;
    }

    .down-header2 {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: black;
      text-align: left;
      margin-top: 0;
    }

    li.guide {
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 100%;
      font-size: 14px;
      color: black;
      margin-bottom: 20px;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 100px;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      color: black;
      font-size: 12px;
      text-align: center;
    }

    a {
      font-size: 13px; 
      color: black; 
      text-decoration: 1px underline;
    }

    .nav-link{
      font-size: 13px; 
      color: white; 
      text-decoration: none;
      margin-left: 30px;
    }

    .cbl-carousel {
      margin-bottom: 80px;
      width: 100%;
      height: 370px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    }

    #carouselExampleControls{
      width: 100%;
      background-color: rgb(128, 128, 128, 0.50);
    }

    img.d-block{
        width: 100%;
        height: 250px;
        object-fit: scale-down;
    }

    .carousel-footer {
        color: rgb(117, 189, 189); 
        font-size: 12px; 
        font-weight: bold; 
        margin: 5px 20px 0px;
        text-decoration: none;
    }
    
    .carousel-footer:hover {
        text-decoration: underline;
      }

    .web-footer {
      margin-top: 80px;
      padding-top: 20px;
      height: 100px;
      background-color: rgb(12 17 21);
    }

    .footer > .footer-text {
      margin: 5px;
      width: auto;
      text-align: center;
      color: rgba(255, 255, 255, 0.381);
    }
  }

  button {
    border: none;
  }

  .navbar-toggler-icon {
    color: #dddddd;
    background-image: url(icon/menu2.png);
    width: 2em;
    height: 2em;
    border: none;
  }

  .offcanvas {
    background-color: #2222224f;
  }
